@import url('https://fonts.googleapis.com/css?family=Palanquin+Dark');
*{
  margin: 0px ;
  padding: 0px;
  border: 0px;
 font-family: 'Palanquin Dark', sans-serif; 
}

/*
    Colors:
        #5EFFF2- AQUA BLUE 
        #07090D- DARK BLUE
*/

a:link {
    color:  white;
    text-decoration: none;
}

a:visited {
    color:  white;
    background-color: grey;
    text-decoration: none;
}

a:hover {
    color:  #07090D;
    text-decoration: none;
    background: #5EFFF2;
    transition: background .4s, color .4s;
}

a:active {
    color:  #5EFFF2;
    background-color: grey;
    text-decoration: none;
} 

body{
    position: relative;
	background: #07090D;
}

.articleGlobal{
    position: relative;
    height: 100%;
    width: 100%;
}

.bodyWrapper{
    position: relative;
    width: 100%;
    height: 80%;
    
}

.headingGlobal{
    position: absolute;
    /*background: #FF8D1C;*/
    width: 42%;
    height: 20%;
    left: 30%;
    top: 30%;
    

}

#spanHeadingGlobal{
    color: #5EFFF2;
    font-size: 120; 

}


nav{
    display: block;
    position: absolute;
    width: 100%;
    height: 25%;
    align-content: center;

    top: 60%;

}

#designNav{
    width: 15%;
    height: 25%;
}

.navBox{
    display: inline-block;
    border: 2px solid #5EFFF2;
    border-radius: 2px;
    width: 10%;
    height: 25%;
    color: white;
    background: none;
    text-decoration:none;
    font-size: 25px;

    text-align: center;
    vertical-align: middle;
    line-height: 45px;
    
}

.navContainer{
  position: relative;
  display: block;
  width: 2000px;
  left: 430px;
  top: 20%;
}

.homeMessage{
    position: relative;
    display: block;
    color: white;

    font-size: 18px;
    top: 54%;
    left: 47%;
}

#homeMsg2{
    top: 54%;
    left: 44%;   
}

#artemisHeading{
    left: 37%;
}

#aboutArtemis{
    width: 16%;
    height: 25%;
}

#artemisContainer{
    position: relative;
    display: block;
    left:41.8%;

    top: 195%;
}

#designHeading{
    width: 80%;
    left: 25%;
}

#aboutDesign{
    width: 18%;
    height: 25%;
}

#designContainer{
    position: relative;
    display: block;
    left:41%;

    top: 150%; 
}


#worksHeading{
    width: 80%;
    left: 22%;
}

#aboutWorks{
    width: 13%;
    height: 25%;
}

#worksContainer{
    position: relative;
    display: block;
    width: 100%;
    left:43%;

    top: 150%;
}

#otherHeading{
    left: 39%;
}

#aboutOther{
    width: 13%;
    height: 25%;
}

#OtherContainer{
    position: relative;
    display: block;
    left:42.8%;

    top: 150%;
}

.logo{
    position: absolute;
    padding: 0.5%;

    top: 10%;
    left: 46.5%;

/*    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;*/
}

.logo:hover{
    color: none;
    background: none;


}

.initialBold{
    color: #5EFFF2;
}

#artemisMsg{
    position:relative;
    width: 800px;
    left: 31%;
}

.videoFrame{
    position: relative;
    display: block;
    width: 560px;
    height: 315px;
    left: 35%;
    top: 58%;
}

.artemisTitle{
    position: relative;
    color: #5EFFF2 ;
    font-size: 80px;
    top: 150px;
}

.artemisContent{
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 19px;

    top: 150px;

    color: white;
}

.bodyContent{
    display: block;
    text-align: justify;
    padding: 2px;
    
}

.artemisPageImg1 {
    position: relative;
    width: 800px;
    height: 400px;
    left: 30%;
    top: 30%;
}

.artemisSubHeading{
    position: relative;
    color:  #5EFFF2;

    font-size: 80px;
    top: 150px;
    right:42%;
}
